.form-container {
  height: calc(100vh - 56px);
  width: 100vw;
  background-image: url('../../pattern.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 320px) {
  .form-container {
    height: calc(100vh - 64px);
  }
  .form-container form {
    width: 320px;
  }
}

/* Label styling */
.weather-label {
  display: block;
  padding-left: 16px;
  font-size: 1.8em;
  color: #fff;
}
